*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: rgb(98, 254, 254);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40vh;
    margin: 10px;
    border-radius: 10px;
}

.container{
    margin: 50px;
    line-height: 40px;
}

.container-image img{
    border: 0;
    margin-right: 40px;
    border-radius: 15px;
    cursor: pointer;
    
} 

.file-button button{
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 8px 12px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}

.file-button select{
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.section{
    display: flex;
    flex-wrap: wrap;
}

.box{
    background-color: white;
    width: 290px;
    height: auto;
    margin: 2% auto;
    padding: 20px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.788);
    border-radius: 5px;
    text-align: center;
    align-content: center;
    
}

.box img{
    width: 100%;
}

.box p{
    margin: 14px 0px;
    font-weight: bold;
}

.section .box button {
    margin-top: 10px;
    padding: 8px 18px;
    background-color: #16c93f;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    box-shadow: 0 2px 6px rgba(40,167,69,0.08);
    cursor: pointer;
}



.file {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.file-1 {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.container-button input{
    width: 300px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 15px;
    cursor: pointer;
}


.footer {
    width: 100%;
    background: #222;
    color: #fff;
    padding: 24px 0 16px 0;
    text-align: center;
    margin-top: 40px;
}
.footer-container {
    max-width: 900px;
    margin: 0 auto;
}
.footer a {
    color: #4dd0e1;
    text-decoration: none;
    
}


